@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

$primary: #06bbcc;
$light: #f0fbfc;
$dark: #181d38;

header {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: $light;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.1);

  .logo {
    color: $primary;
    display: flex;
    gap: 10px;
    margin-left: 20px;

    i {
      font-size: 30px;
    }

    a {
      text-decoration: none;
      color: $primary;
      font-size: 25px;
      font-weight: bold;
    }
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;

    li {
      &:nth-child(3) a {
        color: $primary;
      }

      a {
        text-decoration: none;
        color: $dark;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 500;
        transition: 0.3s;

        &:hover {
          color: $primary;
        }
      }
    }

    button {
      background-color: $primary;
      color: $light;
      border: 1px solid $primary;
      height: 80px;
      padding: 10px;
      font-weight: 600;
      cursor: pointer;
      width: 200px;
    }
  }
}

.about-home {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://bootstrapuchun.netlify.app/img/carousel-1.jpg);
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $light;
    h1 {
        font-size: 50px;
    }
    p {
        margin-top: 10px;
    }
}

.category-title {
    text-align: center;
    margin-top: 50px;
    h3 {
        font-size: 25px;
        color: $primary;
    }
}

.home-courses {
  .course-cards {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    margin-bottom: 50px;
    gap: 20px;

    .course-card {
      width: 400px;
      background-color: aqua;

      &:hover {
        img {
          transform: scale(1.1);
        }
      }

      .course-header {
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          transition: 0.3s;
        }

        button {
          position: absolute;
          z-index: 1;
          left: 50%;
          bottom: 20px;
          font-weight: bold;

          &:nth-child(3) {
            padding: 10px 25px;
            background-color: $primary;
            border: 1px solid $primary;
            color: $light;
            cursor: pointer;
            border-radius: 0 50px 50px 0;
          }

          &:nth-child(2) {
            left: 20%;
            padding: 10px 25px;
            background-color: $primary;
            border: 1px solid $primary;
            color: $light;
            cursor: pointer;
            border-radius: 50px 0 0 50px;
          }
        }
      }

      .course-content {
        h2 {
          text-align: center;
          margin: 10px 0;
        }

        .stars {
          display: flex;
          justify-content: center;

          i {
            color: #06bbcc;
          }
        }

        h3 {
          margin: 20px 0;
          text-align: center;
          font-size: 20px;
          padding: 0 18%;
          color: $dark;
        }

        .course-footer {
          display: flex;
          align-items: center;
          gap: 20px;
          border-top: 1px solid gray;
          padding: 10px 10px;

          .course-left {
            display: flex;
            gap: 20px;
            position: relative;
          }
        }
      }
    }
  }
}

.home-testimonial {
  .testimonial-cards {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    justify-content: center;
    text-align: center;

    .testimonial-card {
      width: 400px;

      .testimonial-header {
        border-radius: 50%;

        h3 {
          margin-top: 20px;
          font-weight: 500;
          color: $dark;
        }

        p {
          color: #52565b;
          margin-bottom: 20px;
        }

        img {
          border-radius: 50%;
        }
      }

      .testimonial-content {
        background-color: $primary;
        padding: 20px;
        color: white;
      }
    }
  }
}

footer {
  background-color: $dark;
  height: 50vh;
  padding: 50px;
  color: $light;
  margin-top: 50px;

  .footer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    .footer-link {
      h3 {
        font-size: 24px;
        margin-bottom: 20px;
      }

      ul {
        list-style: none;

        li {
          margin-top: 10px;

          a {
            text-decoration: none;
            color: white;
            transition: 0.3s;

            &:hover {
              letter-spacing: 2px;
            }
          }
        }
      }
    }

    .footer-contact {
      h3 {
        font-size: 24px;
        margin-bottom: 20px;
        margin-top: 15px;
      }

      ul {
        list-style: none;

        li {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-top: 20px;
        }
      }

      .contact-icons {
        display: flex;
        align-items: center;
        margin-top: 20px;
        gap: 10px;

        .contact-icon {
          border: 1px solid $light;
          border-radius: 50%;
          width: 40px;
          font-size: 20px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.3s;

          &:hover {
            background-color: $light;
            color: $primary;
          }
        }
      }
    }

    .gallery {
      .gallery-images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
      }

      h3 {
        font-size: 24px;
        margin: -20px;
        margin-bottom: 20px;
      }

      .gallery-img {
        width: 80px;

        img {
          width: 100%;
        }
      }
    }

    .newsletter {
      h3 {
        font-size: 24px;
        margin-top: -30px;
      }

      p {
        margin: 20px 0;
        width: 70%;
        line-height: 1.7;
      }

      .input {
        position: relative;

        input {
          padding: 10px 20px;
          outline: none;
          transition: 0.3s;

          &:focus {
            border: 2px solid $primary;
          }
        }

        button {
          padding: 5px 10px;
          position: absolute;
          left: 120px;
          top: 5px;
          color: white;
          background-color: $primary;
          border: 1px solid $primary;
        }

      }
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: 50px auto;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      left: 0;
      right: 0;
      top: -20px;
      background-color: #52565b;
    }

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 50px;
    }
  }
}